<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<script id="list_info_tbgrantpart" type="text/x-handlebars-template">
    {{#resultData_tbgrantpart}}
    <tr class="gradeA">
        <td>
            {{title}}
        </td>
        <td>
            <input class="input_chk_all input_chk_all_{{target}}" type="checkbox" keyword="all" id="input_chk_each_{{target}}_all" onchange="listener_chk_auth('{{target}}','all')" />
        </td>
        <td>
            <input class="input_chk_each input_chk_each_{{target}}" type="checkbox" keyword="create" id="input_chk_each_{{target}}_create" onchange="listener_chk_auth('{{target}}','create')" />
        </td>
        <td>
            <input class="input_chk_each input_chk_each_{{target}}" type="checkbox" keyword="update" id="input_chk_each_{{target}}_update" onchange="listener_chk_auth('{{target}}','update')" />
        </td>
        <td>
            <input class="input_chk_each input_chk_each_{{target}}" type="checkbox" keyword="read" id="input_chk_each_{{target}}_read" onchange="listener_chk_auth('{{target}}','read')" />
        </td>
    </tr>
    {{/resultData_tbgrantpart}}
</script>
<script type="text/javascript">
    var list_info_tbgrantpart = $("#list_info_tbgrantpart").html();
    var list_info_tbgrantpart_template = Handlebars.compile(list_info_tbgrantpart);
</script>
<script id="list_info_tbgrantuser" type="text/x-handlebars-template">
    {{#resultData_tbgrantuser}}
    <tr class="gradeA">
        <td>
            <font class="font_tbgrantuser_order">-</font>
        </td>
        <td>
            {{tbuserUsername}}
        </td>
        <td>
            {{tbuserNick}}
        </td>
        <td>
            {{tbuesrPhone}}
        </td>
        <td>
            <button class="btn btn-danger btn-sm" onclick="delete_tbgrantuser('{{id}}')">삭제</button>
        </td>
    </tr>
    {{/resultData_tbgrantuser}}
</script>
<script type="text/javascript">
    var list_info_tbgrantuser = $("#list_info_tbgrantuser").html();
    var list_info_tbgrantuser_template = Handlebars.compile(list_info_tbgrantuser);
</script>

<script>
    function toggle_tbgrantpart(obj_target, obj_func, obj_deleted){
        let _param = {};
        _param["tbgrantId"] = $("#detail_tbgrant_id").val();
        _param["target"] = obj_target;
        _param["func"] = obj_func;
        _param["deleted"] = obj_deleted;

        let _data = new Map();
        _data.url = "/api/tbgrantpart/toggle";
        _data.type = "PUT";
        _data.param = _param;
        _data.success = function(obj_data, obj_status, obj_xhr){
            //alert("수정되었습니다.");
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
    function listener_chk_auth(obj_target, obj_func){
        let checked = $("#input_chk_each_" + obj_target + "_" + obj_func).prop("checked");
        if(obj_func === "all"){
            let input_chk_each = $(".input_chk_each_" + obj_target);
            if(checked){
                for(let each of input_chk_each){
                    if(!$(each).prop("checked")){
                        toggle_tbgrantpart(obj_target, $(each).attr("keyword"), false);
                    }
                }
                $(".input_chk_each_" + obj_target).prop("checked", true);
            } else {
                for(let each of input_chk_each){
                    if($(each).prop("checked")){
                        toggle_tbgrantpart(obj_target, $(each).attr("keyword"), true);
                    }
                }
                $(".input_chk_each_" + obj_target).prop("checked", false);
            }
        } else {
            listener_chk_all_checked(obj_target);
            //디비에도 반영해주세요!
            toggle_tbgrantpart(obj_target, obj_func, !checked);
        }
    }
    function listener_chk_all_checked(obj_target){
        let input_chk_each = $(".input_chk_each_" + obj_target);
        let all_checked = true;
        for(let each of input_chk_each){
            if(!$(each).prop("checked")){
                all_checked = false;
            }
        }
        if(all_checked){
            $(".input_chk_all_" + obj_target).prop("checked", true);
        } else {
            $(".input_chk_all_" + obj_target).prop("checked", false);
        }
    }
</script>


<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbgrant").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>권한 상세 : <font class="font_tbgrant_title"></font></h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbgrant/admin_list">글 모음</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbgrant/admin_list">권한 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>권한 상세</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>#<font class="font_tbgrant_id">-</font></h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <input type="hidden" id="detail_tbgrant_id" value="" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">삭제여부</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbgrant_deleted" keyword="deleted" onchange="update_tbgrant(this)">
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">구분</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbgrant_cate" keyword="cate" onchange="update_tbgrant(this)">
                                    <option value="high">최고권한</option>
                                    <option value="middle">중급권한</option>
                                    <option value="low">기초권한</option>
                                </select>
                            </div>

                            <label class="col-sm-2 col-form-label">*제목</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbgrant_title" keyword="title" placeholder="내용을 입력하세요" onchange="update_tbgrant(this)" />
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control m-b" id="detail_tbgrant_content" keyword="content" onkeyup="listener_maxlength_check(this, 2000);" onchange="update_tbgrant(this)" rows="4" placeholder="내용을 입력하세요"></textarea>
                            </div>

                        </div>

                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-part"><i class="fa fa-briefcase"></i> 권한 상세</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-user"><i class="fa fa-user"></i> 권한 사용자</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-part" class="tab-pane active">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>권한상세</th>
                                        <th>전체</th>
                                        <th>입력</th>
                                        <th>수정</th>
                                        <th>조회</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_tbgrantpart_list">
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab-user" class="tab-pane">
                                <div style="text-align: right;padding: 5px 0px;">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createTbgrantuser">
                                        추가하기
                                    </button>
                                </div>

                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>id</th>
                                        <th>nick</th>
                                        <th>phone</th>
                                        <th>/</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_tbgrantuser_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                detail_tbgrant();
            });

            function detail_tbgrant(){
                let tbgrantId = getIdFromUrl(null);
                let _data = new Map();
                _data.url = "/api/tbgrant";
                _data.type = "GET";
                _data.param = {'id':tbgrantId};
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert(JSON.stringify(obj_data));
                    listenerAfterDetail(obj_data, "tbgrant");
                    let arrayTarget = obj_data["target"];
                    for(let each of arrayTarget){
                        let each_list = [];
                        let each_data = {};
                        //alert(each);
                        let arrayEach = (each + "").split(",");
                        each_data["target"] = arrayEach[0];
                        each_data["title"] = arrayEach[1];
                        each_list.push(each_data);
                        $("#tbody_tbgrantpart_list").append(list_info_tbgrantpart_template({"resultData_tbgrantpart":each_list}));
                    }

                    let tbgrantparts = obj_data["tbgrantparts"];
                    for(let each of tbgrantparts){
                        //alert(JSON.stringify(each));
                        $("#input_chk_each_" + each["target"] + "_" + each["func"]).prop("checked", true);
                        listener_chk_all_checked(each["target"]);
                    }
                    let tbgrantusers = obj_data["tbgrantusers"];
                    for(let each of tbgrantusers){
                        let each_list = [];
                        each_list.push(each);
                        $("#tbody_tbgrantuser_list").append(list_info_tbgrantuser_template({"resultData_tbgrantuser":each_list}));
                    }
                    let tempOrder = 0;
                    let font_tbgrantuser_order = $(".font_tbgrantuser_order");
                    for(let each of font_tbgrantuser_order){
                        $(each).text(++tempOrder);
                    }

                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function update_tbgrant(obj){
                let _param = {};
                _param["id"] = $("#detail_tbgrant_id").val();
                _param[$(obj).attr("keyword")] = $(obj).val();
                //alert(_param[$(obj).attr("keyword")]);

                let _data = new Map();
                _data.url = "/api/tbgrant";
                _data.type = "PUT";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert("수정되었습니다.");
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function create_tbgrantuser(){
                if(!listenerBeforeCreate()){
                    return false;
                }
                let _param = {
                    'tbgrantId' : $("#detail_tbgrant_id").val(),
                    'tbuserId' : $("#create_tbgrantuser_tbuserId").val()
                };
                let _data = new Map();
                _data.url = "/api/tbgrantuser";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    alert("등록");
                    location.reload();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function delete_tbgrantuser(obj_id){
                if (confirm("정말 삭제하시겠습니까?")) {
                } else {
                    alert("취소");
                    return false;
                }
                let ids = listenerGetDeleteIds();
                let _data = new Map();
                _data.url = "/api/tbgrantuser";
                _data.type = "DELETE";
                _data.param = {
                    'id' : obj_id
                };
                _data.success = function(obj_data, obj_status, obj_xhr){
                    alert("완료");
                    location.reload();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>

<!-- Modal -->
<div class="modal fade" id="createTbgrantuser" tabindex="-1" role="dialog" aria-labelledby="createTbgrantuser" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">신규 추가하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="col-form-label">*사용자id</label>
                <div>
                    <input type="text" class="form-control m-b input_required" id="create_tbgrantuser_tbuserId" keyword="tbuserId" placeholder="내용을 입력하세요" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="create_tbgrantuser();">등록</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
